{{! //////////////////////////////////////////////////////////////// }}
{{!  /src/views/inicio.handlebars -  HTML con sintaxis de Handlebars   }}
{{! //////////////////////////////////////////////////////////////// }}

<html>
  <head>
    <title>{{title}}</title>
    <script src='https://unpkg.com/sweetalert/dist/sweetalert.min.js'></script>
    <link rel='stylesheet' href='css/{{style}}' />
  </head>
  <body>
    <div class='container d-flex align-items-center justify-content-center inicio'>
      <div class='posicion text-center'>
        <h1 class='mb-0'>Freelo ECOM</h1>
        <p>ONLINE <span class='fw-bold'>SHOP</span></p>
        <div class='mt-2'>
          <a class='btn btn-dark' href='http://localhost:8080/products' role='button'>Ir a comprar</a>
        </div>
      </div>
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/inicio/index.js'></script>
  </body>
</html>